/* Custom CSS */
.example-blue-style {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #0000CC;
}

.blog-image {
  margin: auto;
  display: block;
  width: 95%;
  padding-top: 20px;
  padding-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
}

/*
 * Globals
 */

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #555;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;

}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
   * Override Bootstrap's default container.
   */

.container {
  /* colors from https://mdbootstrap.com/docs/standard/tools/design/gradients/ */
  background-image: linear-gradient(to bottom, rgba(168, 237, 234, 0.5), rgba(254, 214, 227, 0.5));
  padding-bottom: 250px;


}


/*
   * Masthead for nav
   */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}

.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
   * Blog name and description
   */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Didot, Palatino, URW Palladio L, serif;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.blog-description {
  font-size: 20px;
  color: #999;
}


/*
   * Main column and sidebar layout
   */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Disused Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 0px;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/*Used for the setting*/
#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}



/*
   * Blog posts
   */

.blog-post {
  margin: auto;
  width: 50%;
  padding: 20px;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}

.blog-post-username {
  padding-left: 10px;
  font-weight: bold;
  color: #191919;
}

.blog-post-timestamp {
  font-weight: bold;
  color: grey;
}

.blog-post-meta {
  margin: auto;
  width: 50%;
  padding: 20px;
  background-color: ghostwhite;
  border-radius: 25px;
  border: 3px solid #333;
}

.blog-post-text {
  margin: auto;
  display: block;
  width: 95%;
}


/*
   * Footer
   */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  /* background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5; */
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
  * Images
  */


.profile-image {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  vertical-align: top;
}

.btn {
  background-color: transparent;
  /* no background */
  border: none;
  /* Remove borders */
  border-style: none;
  border-color: transparent;
  color: lightgray;
}

.btn-liked {
  color: red;
}

.btn:visited {
  color: red;
}

.btn:visited {
  color: red;
}

.btn:focus {
  color: red;
}

/* Darker background on mouse-over */
.btn:hover {
  color: gray;
}

.btn:active {
  color: red;
}


/*
* Prev/Next button format from W3 schools
*/
.ctrlBotton1 {
  background-color: transparent;
  /* Green */
  color: black;
  border-color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.ctrlBotton2 {
  background-color: transparent;
  /* Green */
  color: black;
  border-color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.right {
  float: right;
  right: 150px;
}

.left {
  float: left;
  left: 350px;
}

.sticky {
  position: sticky;
  width: 5.5%;
}

/*
 * Sidebar derived from Hyde.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255, 255, 255, .5);
  background-color: #202020;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 14rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-size: 2rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}

.sidebar-nav-item {
  text-decoration: none;
  display: block;
  line-height: 1.75;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.sidebar-nav-item:hover {
  background-color: #333;
  transition: background-color .2s ease-in;
  font-weight: bold;
}

.sidebar-nav-item.active {
  font-weight: bold;
}

.icon {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}